<a href="https://colab.research.google.com/github/Sakshisingh712/Thyroid-detection-project/blob/main/Thyroid_Detection_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df1=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allbp.data')

df2=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/thyroid-disease/allhyper.data')

In [ ]:
df=pd.concat([df1,df2],axis=0)

In [ ]:
df.head(10)

   41  F  f f.1 f.2 f.3 f.4  ...  1.14 t.4  109 f.14  ?   SVHC  negative.|3733
0  23  F  f   f   f   f   f  ...     ?   f    ?    f  ?  other  negative.|1442
1  46  M  f   f   f   f   f  ...  0.91   t  120    f  ?  other  negative.|2965
2  70  F  t   f   f   f   f  ...     ?   f    ?    f  ?  other   negative.|806
3  70  F  f   f   f   f   f  ...  0.87   t   70    f  ?    SVI  negative.|2807
4  18  F  t   f   f   f   f  ...   1.3   t  141    f  ?  other  negative.|3434
5  59  F  f   f   f   f   f  ...  0.92   t   78    f  ?  other  negative.|1595
6  80  F  f   f   f   f   f  ...   0.7   t  115    f  ?    SVI  negative.|1367
7  66  F  f   f   f   f   f  ...  0.93   t  132    f  ?    SVI  negative.|1787
8  68  M  f   f   f   f   f  ...  0.89   t   93    f  ?    SVI  negative.|2534
9  84  F  f   f   f   f   f  ...  0.95   t  121    f  ?    SVI  negative.|1485

[10 rows x 30 columns]

In [ ]:
df.shape

(5598, 30)

In [ ]:
df.columns = ['age','sex','onthyroxine','querythyroxine','antimedi.','sick','pregnant','thyroid-surgery','I131','hypoth','hyperth',
                'lithium','goitre','tumor','hypoputit','psych','TSHm','TSH','T3m','T3','TT4m',
                    'TT4','T4Um','T4U','FTIm','FTI','TBGm','TBG','source','classes']

In [ ]:
df.head(5)

  age sex onthyroxine querythyroxine  ... TBGm TBG source         classes
0  23   F           f              f  ...    f   ?  other  negative.|1442
1  46   M           f              f  ...    f   ?  other  negative.|2965
2  70   F           t              f  ...    f   ?  other   negative.|806
3  70   F           f              f  ...    f   ?    SVI  negative.|2807
4  18   F           t              f  ...    f   ?  other  negative.|3434

[5 rows x 30 columns]

In [ ]:
df.isnull().sum()

age                0
sex                0
onthyroxine        0
querythyroxine     0
antimedi.          0
sick               0
pregnant           0
thyroid-surgery    0
I131               0
hypoth             0
hyperth            0
lithium            0
goitre             0
tumor              0
hypoputit          0
psych              0
TSHm               0
TSH                0
T3m                0
T3                 0
TT4m               0
TT4                0
T4Um               0
T4U                0
FTIm               0
FTI                0
TBGm               0
TBG                0
source             0
classes            0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5598 entries, 0 to 2798
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              5598 non-null   object
 1   sex              5598 non-null   object
 2   onthyroxine      5598 non-null   object
 3   querythyroxine   5598 non-null   object
 4   antimedi.        5598 non-null   object
 5   sick             5598 non-null   object
 6   pregnant         5598 non-null   object
 7   thyroid-surgery  5598 non-null   object
 8   I131             5598 non-null   object
 9   hypoth           5598 non-null   object
 10  hyperth          5598 non-null   object
 11  lithium          5598 non-null   object
 12  goitre           5598 non-null   object
 13  tumor            5598 non-null   object
 14  hypoputit        5598 non-null   object
 15  psych            5598 non-null   object
 16  TSHm             5598 non-null   object
 17  TSH              5598 non-null   object
 18  T3m              5598 non-null   object
 19  T3               5598 non-null   object
 20  TT4m             5598 non-null   object
 21  TT4              5598 non-null   object
 22  T4Um             5598 non-null   object
 23  T4U              5598 non-null   object
 24  FTIm             5598 non-null   object
 25  FTI              5598 non-null   object
 26  TBGm             5598 non-null   object
 27  TBG              5598 non-null   object
 28  source           5598 non-null   object
 29  classes          5598 non-null   object
dtypes: object(30)
memory usage: 1.3+ MB

In [ ]:
df.replace("?",np.NaN,inplace=True)

In [ ]:
df.isnull().sum()

age                   2
sex                 220
onthyroxine           0
querythyroxine        0
antimedi.             0
sick                  0
pregnant              0
thyroid-surgery       0
I131                  0
hypoth                0
hyperth               0
lithium               0
goitre                0
tumor                 0
hypoputit             0
psych                 0
TSHm                  0
TSH                 568
T3m                   0
T3                 1170
TT4m                  0
TT4                 368
T4Um                  0
T4U                 594
FTIm                  0
FTI                 590
TBGm                  0
TBG                5598
source                0
classes               0
dtype: int64

In [ ]:
drop=df.isnull().sum()[df.isnull().sum()>len(df)*0.1]
df.drop(drop.index,axis=1,inplace=True)

In [ ]:
df.head()

  age sex onthyroxine querythyroxine  ... FTIm TBGm source         classes
0  23   F           f              f  ...    f    f  other  negative.|1442
1  46   M           f              f  ...    t    f  other  negative.|2965
2  70   F           t              f  ...    f    f  other   negative.|806
3  70   F           f              f  ...    t    f    SVI  negative.|2807
4  18   F           t              f  ...    t    f  other  negative.|3434

[5 rows x 25 columns]

In [ ]:
df.isnull().sum()

age                  2
sex                220
onthyroxine          0
querythyroxine       0
antimedi.            0
sick                 0
pregnant             0
thyroid-surgery      0
I131                 0
hypoth               0
hyperth              0
lithium              0
goitre               0
tumor                0
hypoputit            0
psych                0
TSHm                 0
T3m                  0
TT4m                 0
TT4                368
T4Um                 0
FTIm                 0
TBGm                 0
source               0
classes              0
dtype: int64

In [ ]:
print(df['age'].mode())
print(df['TT4'].mode())
print(df['sex'].mode())

0    59
dtype: object
0    101
dtype: object
0    F
dtype: object

In [ ]:
df['age'].fillna('59',inplace=True)
df['TT4'].fillna('101',inplace=True)
df['sex'].fillna('F',inplace=True)

In [ ]:
df.isnull().sum()

age                0
sex                0
onthyroxine        0
querythyroxine     0
antimedi.          0
sick               0
pregnant           0
thyroid-surgery    0
I131               0
hypoth             0
hyperth            0
lithium            0
goitre             0
tumor              0
hypoputit          0
psych              0
TSHm               0
T3m                0
TT4m               0
TT4                0
T4Um               0
FTIm               0
TBGm               0
source             0
classes            0
dtype: int64

In [ ]:
df=pd.get_dummies(df,columns=['sex','onthyroxine','querythyroxine','antimedi.','sick','pregnant','thyroid-surgery','I131','hypoth','hyperth',
                                'lithium','goitre','tumor','hypoputit','psych','TSHm','T3m','TT4m',
                                 'T4Um','FTIm','source'])

In [ ]:
df.head(10)

  age  TT4 TBGm  ... source_SVHD  source_SVI  source_other
0  23  102    f  ...           0           0             1
1  46  109    f  ...           0           0             1
2  70  175    f  ...           0           0             1
3  70   61    f  ...           0           1             0
4  18  183    f  ...           0           0             1
5  59   72    f  ...           0           0             1
6  80   80    f  ...           0           1             0
7  66  123    f  ...           0           1             0
8  68   83    f  ...           0           1             0
9  84  115    f  ...           0           1             0

[10 rows x 49 columns]

In [ ]:
df.columns

Index(['age', 'TT4', 'TBGm', 'classes', 'sex_F', 'sex_M', 'onthyroxine_f',
       'onthyroxine_t', 'querythyroxine_f', 'querythyroxine_t', 'antimedi._f',
       'antimedi._t', 'sick_f', 'sick_t', 'pregnant_f', 'pregnant_t',
       'thyroid-surgery_f', 'thyroid-surgery_t', 'I131_f', 'I131_t',
       'hypoth_f', 'hypoth_t', 'hyperth_f', 'hyperth_t', 'lithium_f',
       'lithium_t', 'goitre_f', 'goitre_t', 'tumor_f', 'tumor_t',
       'hypoputit_f', 'hypoputit_t', 'psych_f', 'psych_t', 'TSHm_f', 'TSHm_t',
       'T3m_f', 'T3m_t', 'TT4m_f', 'TT4m_t', 'T4Um_f', 'T4Um_t', 'FTIm_f',
       'FTIm_t', 'source_STMW', 'source_SVHC', 'source_SVHD', 'source_SVI',
       'source_other'],
      dtype='object')

In [ ]:
df.drop(columns=['sex_M','onthyroxine_f','querythyroxine_f','antimedi._f','sick_f','pregnant_f','thyroid-surgery_f','I131_f','hypoth_f','hyperth_f','hypoputit_f','psych_f','TSHm_f','T3m_f','TT4m_f','T4Um_f','FTIm_f'],axis=1,inplace=True)

In [ ]:
df.head(15)

   age  TT4 TBGm  ... source_SVHD  source_SVI  source_other
0   23  102    f  ...           0           0             1
1   46  109    f  ...           0           0             1
2   70  175    f  ...           0           0             1
3   70   61    f  ...           0           1             0
4   18  183    f  ...           0           0             1
5   59   72    f  ...           0           0             1
6   80   80    f  ...           0           1             0
7   66  123    f  ...           0           1             0
8   68   83    f  ...           0           1             0
9   84  115    f  ...           0           1             0
10  67  152    f  ...           0           0             1
11  71  171    f  ...           0           0             1
12  59   97    f  ...           0           1             0
13  28  109    f  ...           0           0             0
14  65   99    f  ...           0           0             1

[15 rows x 32 columns]

In [ ]:
print(df['TBGm'].unique())
#since we are not getting any valuable info from this dataset so we will remove it.
df.drop(['TBGm'],axis=1,inplace=True)

['f']

In [ ]:
df.head()

  age  TT4         classes  ...  source_SVHD  source_SVI  source_other
0  23  102  negative.|1442  ...            0           0             1
1  46  109  negative.|2965  ...            0           0             1
2  70  175   negative.|806  ...            0           0             1
3  70   61  negative.|2807  ...            0           1             0
4  18  183  negative.|3434  ...            0           0             1

[5 rows x 31 columns]

In [ ]:
print(df['sex_F'].value_counts())
#0->F
#1->M

1    3878
0    1720
Name: sex_F, dtype: int64

In [ ]:
df.columns

Index(['age', 'TT4', 'classes', 'sex_F', 'onthyroxine_t', 'querythyroxine_t',
       'antimedi._t', 'sick_t', 'pregnant_t', 'thyroid-surgery_t', 'I131_t',
       'hypoth_t', 'hyperth_t', 'lithium_f', 'lithium_t', 'goitre_f',
       'goitre_t', 'tumor_f', 'tumor_t', 'hypoputit_t', 'psych_t', 'TSHm_t',
       'T3m_t', 'TT4m_t', 'T4Um_t', 'FTIm_t', 'source_STMW', 'source_SVHC',
       'source_SVHD', 'source_SVI', 'source_other'],
      dtype='object')

In [ ]:
df.shape

(5598, 31)

In [ ]:
df[['Class','Y']]=df.classes.str.split('.',expand=True,n=1)#It will split the column for first occurence of '.' and it will do it once as n=1,and save it in two different columns.
del df['Y']
del df['classes']

In [ ]:
df['Class'].unique()

array(['negative', 'increased binding protein',
       'decreased binding protein', 'hyperthyroid', 'T3 toxic', 'goitre'],
      dtype=object)

In [ ]:
feature={'Class': {'negative':1, 'increased binding protein':2,
       'decreased binding protein':3, 'hyperthyroid':4, 'T3 toxic':5, 'goitre':6}}
df.replace(feature)  # You can see the changes made.

     age  TT4  sex_F  ...  source_SVI  source_other  Class
0     23  102      1  ...           0             1      1
1     46  109      0  ...           0             1      1
2     70  175      1  ...           0             1      1
3     70   61      1  ...           1             0      1
4     18  183      1  ...           0             1      1
...   ..  ...    ...  ...         ...           ...    ...
2794  70  155      0  ...           1             0      1
2795  73   63      0  ...           0             1      1
2796  75  147      0  ...           0             1      1
2797  60  100      1  ...           0             1      1
2798  81  114      1  ...           1             0      1

[5598 rows x 31 columns]

In [ ]:
df['Class'].value_counts()   #Here we can see how imbalanced data is. It will make our model biased.

negative                     5388
increased binding protein     124
hyperthyroid                   62
decreased binding protein       9
T3 toxic                        8
goitre                          7
Name: Class, dtype: int64

In [ ]:
# We will handle imbalance data with K-Means Clustering
from sklearn.cluster import KMeans
kMean=KMeans(n_clusters=6).fit(df)

ValueError: ignored

In [ ]:
from sklearn import linear_model